// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.my_stats_group {
  width: 45%;
  float: left;
}


.today_group_results {
  width: 45%;
  float: right;
  border-left: 1px solid black;
  padding-left: 10px;
}